body {
  margin: 0;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#game-board {
  min-height: 80vh;
  background-color: #ffffff;
  background-image: url("/images/background.jpg");
  background-size: cover;
  box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 29px 0px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-board h1 {
  color: #ffffff;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 4.2em;
}

.title-color1 {
  color: #d2ff58;
}

.title-color2 {
  color: #ff7833;
}

.title-color3 {
  color: #19afd0;
}

#game-board h2 {
  color: #ffffff;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 3em;
}

#chance-area {
  color: #ffffff;
  text-align: center;
  margin: 10px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chance-icon img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

#result-area {
  text-align: center;
  margin: 20px;
  padding: 10px 20px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;
  color: #d2ff58;
  background-color: #000000;
  text-shadow: rgba(100, 100, 111, 1) 0px 7px 29px 0px;
}

#user-area {
  position: relative;
  margin: 20px 0px 40px 0;
}

#user-area input {
  border: none;
  width: 340px;
  height: 50px;
  padding: 0 20px;
  margin: 0;
}

#user-area button {
  cursor: pointer;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 50px;
  background-color: #19afd0;
  background-image: url(/images/enter.png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}

#user-area button:disabled {
  background-color: #213e60;
}

#footer-area {
  width: 160px;
  display: flex;
  justify-content: space-around;
}

#footer-area button {
  cursor: pointer;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #19afd0;
  transition: all 0.2s;
}

#reset-button {
  background-image: url(/images/reset.png);
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

#reset-button:hover {
  background-size: 63%;
}

#share-button {
  background-image: url(/images/share.png);
  background-position: center;
  background-size: 62%;
  background-repeat: no-repeat;
  transition: all 0.2s;
}

#share-button:hover {
  background-size: 65%;
}

@media (min-width: 600px) {
  #game-board {
    width: 600px;
    border-radius: 20px;
  }
}

/* 모바일버전 */
@media (max-width: 600px) {
  #game-board {
    width: 90vw;
    height: 100vh;
    border-radius: 0px;
  }

  #game-board h1 {
    font-size: 3em;
  }

  #game-board h2 {
    font-size: 2.2em;
  }
}
